@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:400,700&display=swap');

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat';
}

html,
body {
  padding: 0;
  margin: 0;
}

body nav {
  padding: 0.5rem 0 !important;
}

body nav .form-inline {
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
}

body nav .form-inline .col-sm-5, body nav .form-inline .col-sm {
  padding: 0.3em !important;
}
body main {
  padding-top: 100px;
  padding-bottom: 40px;
  font-family: 'Domine';
}

/* body main .container {
padding-top: 100px;
  padding-bottom: 40px;
} */

body main .container .row .col-sm form .row .col-sm {
  padding-top: 0.8em;
}

@media (max-width: 768px) {
  body nav .form-inline .col-sm-5 {
    padding: 0.3em !important;
  }
  body nav .form-inline .col-sm .btn {
    width: 100%;
  }
  body main {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  body main .container .row .col-sm form .row .col-sm {
    padding: 0.5em;
  }
  body main .container .row .col-sm form .row .col-sm .btn {
    width: 100%;
  }
}